{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "templateStrings": true
    }
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off"
  }
}
